# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so

# Env
venv/
.env

# Django
*.sqlite3
*.log
db.sqlite3
*.pyc
media/

# VS Code
.vscode/

# Jupyter
.ipynb_checkpoints/

# Mac/Windows
.DS_Store
Thumbs.db

# Model and data artifacts
*.h5
*.pkl
*.sav
*.csv
